:root {
  --background: #F5F5F5;
    --selection-background: #CCD4D9;
    --typeface-color: #151B1C;
    --knockout: #000000;
  }

::selection {
  background-color: var(--selection-background);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: var(--typeface-color);
}

body {
  padding-top: 1.25rem;
  background-color: var(--background);
}

a {
  text-decoration: none;
  color: var(--typeface-color);
}

#wv {
  /*
  position: absolute;
  top: 100px;
  left: 100px;
  */
  display: flex;
  flex-direction: column;
}

#hearth {
  /*
  position: absolute;
  top: 350px;
  left: 420px;
  */
}

#sav {
  /*
  position: absolute;
  top: 175px;
  left: 880px;
  */
}

/* Landing section */

.landing-section {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 89vh;
}

.landing-title-section {
  display: flex;
  justify-content: space-between;
}

.landing-title {
  font-size: 1.5rem;
  font-weight: 200;
}

.landing-details-section {
  display: flex;
  justify-content: space-between;
}

.landing-location {
  font-weight: 200;
}

.landing-phone {
  font-weight: 200;
}

.landing-sidebar-wrapper {
  display: flex;
  justify-content: space-between;
}

.landing-information-button {
  cursor: pointer;
}

.landing-information-title {
  font-weight: 200;
  width: 8rem;
  transition: 0.2s;
}

.landing-information-title:hover {
  opacity: 0.5;
}

.landing-information-text {
  display: flex;
  flex-direction: column;
  max-height: 0;
  font-size: 1.25rem;
  font-weight: 200;
  overflow: hidden;
  transition: max-height 0.4s;
}

.landing-information-text-paragraph {
  margin-top: 1rem;
  width: 30rem;
}

.landing-details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30rem;
}

/* Scroll bar section */

.scroll-bar-section {
  margin-top: 3rem;
  overflow: hidden;
  white-space: nowrap;
}

.scroll-bar-text {
  display: inline;
  font-size: 1rem;
  font-weight: 200;
  text-transform: uppercase;
}

.scroll-bar-text-link {
  opacity: 0.75;
  transition: 0.3s;
}

.scroll-bar-text-link:hover {
  opacity: 0.5;
}

/* Selected works section */

.selected-works-section {
  margin-top: 10rem;
}

.selected-works-title {
  font-size: 4.5rem;
}

.video-title {
  display: none;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 200;
}

.video-description {
  display: flex;
  justify-content: space-between;
}

.project-article {
  position: absolute;
}

.project-video {
  max-width: 40rem;
}

