:root {
  --background: #F5F5F5;
    --selection-background: #CCD4D9;
    --typeface-color: #151B1C;
    --knockout: #000000;
  }

::selection {
  background-color: var(--selection-background);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: var(--typeface-color);
}

body {
  padding: 1.5rem;
  padding-top: 1.25rem;
  background-color: var(--background);
}

a {
  text-decoration: none;
  color: var(--typeface-color);
}

/* Landing section */

.landing-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.landing-title-section {
  display: flex;
  justify-content: space-between;
}

.landing-title {
  font-size: 1.5rem;
  font-weight: 200;
}

.landing-details-section {
  display: flex;
  justify-content: space-between;
}

.landing-location {
  font-weight: 200;
}

.landing-phone {
  font-weight: 200;
}

.landing-sidebar-wrapper {
  display: flex;
  justify-content: space-between;
}

.landing-information-button {
  cursor: pointer;
}

.landing-information-title {
  font-weight: 200;
  width: 8rem;
  transition: 0.2s;
}

.landing-information-title:hover {
  opacity: 0.5;
}

.landing-information-text {
  display: flex;
  flex-direction: column;
  max-height: 0;
  font-size: 1.25rem;
  font-weight: 200;
  overflow: hidden;
  transition: max-height 0.4s;
}

.landing-information-text-paragraph {
  margin-top: 1rem;
  width: 30rem;
}

.landing-details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30rem;
}

/* Scroll bar section */

.scroll-bar-section {
  margin-top: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-top: 1px solid var(--selection-background);
  border-bottom: 1px solid var(--selection-background);
  overflow: hidden;
  white-space: nowrap;
}

.scroll-bar-text {
  display: inline;
  font-size: 0.75rem;
  font-weight: 100;
  text-transform: uppercase;
}

.scroll-bar-text-link {
  transition: 0.3s;
}

.scroll-bar-text-link:hover {
  opacity: 0.5;
}

/* Selected works section */

.selected-works-section {
  margin-top: 10rem;
}

.selected-works-title {
  font-size: 4.5rem;
}

.project-article {
  margin-top: 3rem;
  padding-top: 2rem;
  padding-bottom: 7rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--selection-background);
  border-bottom: 1px solid var(--selection-background);
}

.project-number {
  font-size: 1.25rem;
}

.project-title {
  font-size: 1.75rem;
}

.project-description {
  width: 20rem;
  font-size: 1.25rem;
}

.project-date {
  margin-top: 1.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  border-top: 1px solid var(--selection-background);
}

.project-date-title {
  font-size: 0.7rem;
  font-weight: 100;
  text-transform: uppercase;
}

.project-date-text-wrapper {
  width: 10rem;
}

.project-platform {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  border-top: 1px solid var(--selection-background);
  border-bottom: 1px solid var(--selection-background);
}

.project-platform-title {
  font-size: 0.7rem;
  font-weight: 100;
  text-transform: uppercase;
}

.project-platform-text-wrapper {
  width: 10rem;
}

.project-video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--knockout);
}

.project-video-wrapper:hover .project-video-hidden-text {
  opacity: 1;
}

.project-video-hidden-text {
  position: absolute;
  color: var(--background);
  opacity: 0;
}

.project-video {
  max-width: 60rem;
  transition: 0.2s;
}

.project-video:hover {
  opacity: 0.4;
}

/* Footer section */

.footer-section {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}

