:root {
  --background: #F5F5F5;
  --selection-background: #CCD4D9;
  --typeface-color: #151B1C;
}

::selection {
  background-color: var(--selection-background);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: var(--typeface-color);
}

body {
  padding: 1.5rem;
  background-color: var(--background);
}

a {
  text-decoration: none;
  color: var(--typeface-color);
}

/* Landing section */

.landing-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95vh;
}

.landing-title {
  font-size: 12rem;
  line-height: 10rem;
}

.landing-details-section {
  display: flex;
  justify-content: space-between;
}

.landing-information-button {
  cursor: pointer;
}

.landing-information-title {
  width: 8rem;
  transition: 0.3s;
}

.landing-information-title:hover {
  opacity: 0.5;
}

.landing-information-text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s;
}

.landing-information-text-paragraph {
  margin-top: 0.5rem;
  width: 25rem;
}

.landing-details-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 30rem;
}

.scroll-bar-section {
  margin-top: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-top: 1px solid var(--selection-background);
  border-bottom: 1px solid var(--selection-background);
  overflow: hidden;
  white-space: nowrap;
}

.scroll-bar-text {
  display: inline;
  font-size: 0.75rem;
  font-weight: 100;
  text-transform: uppercase;
}

.scroll-bar-text-link {
  transition: 0.3s;
}

.scroll-bar-text-link:hover {
  opacity: 0.5;
}

.selected-works-section {
  margin-top: 10rem;
}

.selected-works-text {
  
}

.project-article {
  margin-top: 3rem;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--selection-background);
}

.project-description {
  width: 20rem;
}

.project-video {
  max-width: 60rem;
}



